In [2]:
import pandas as pd
df = pd.read_csv('football.csv')
display(df.head())

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13

In [15]:
count = df['Wage'].value_counts(bins=4)
count

(435.999, 142000.0]     12818
(142000.0, 283000.0]       61
(283000.0, 424000.0]       16
(424000.0, 565000.0]        2
Name: Wage, dtype: int64

In [16]:
c = df['Nationality'].unique()
c

array(['Argentina', 'Portugal', 'Brazil', 'Spain', 'Belgium', 'Croatia',
       'Uruguay', 'Slovenia', 'Poland', 'Germany', 'France', 'England',
       'Italy', 'Egypt', 'Colombia', 'Denmark', 'Gabon', 'Wales',
       'Senegal', 'Costa Rica', 'Slovakia', 'Netherlands',
       'Bosnia Herzegovina', 'Morocco', 'Serbia', 'Algeria', 'Austria',
       'Greece', 'Chile', 'Sweden', 'Korea Republic', 'Finland', 'Guinea',
       'Montenegro', 'Switzerland', 'Norway', 'DR Congo', 'Ukraine',
       'Mexico', 'Czech Republic', 'Ivory Coast', 'Albania', 'Turkey',
       'Ghana', 'Ecuador', 'Mali', 'Nigeria', 'Dominican Republic',
       'Japan', 'Cameroon', 'Republic of Ireland', 'Romania',
       'United States', 'Russia', 'Hungary', 'Iceland', 'Zimbabwe',
       'Togo', 'Angola', 'Burkina Faso', 'Peru', 'Scotland', 'Venezuela',
       'Estonia', 'Tunisia', 'Israel', 'Equatorial Guinea', 'New Zealand',
       'FYR Macedonia', 'Paraguay', 'China PR', 'Kosovo', 'Tanzania',
       'Iran', 'Uzbekistan', 'South Africa', 'Australia', 'Congo',
       'Jamaica', 'Mozambique', 'Cape Verde', 'Northern Ireland', 'Syria',
       'Cyprus', 'Moldova', 'Canada', 'Trinidad & Tobago', 'Bulgaria',
       'Georgia', 'Saudi Arabia', 'Armenia', 'Guinea Bissau', 'Haiti',
       'Comoros', 'Eritrea', 'Oman', 'Iraq', 'Latvia', 'Panama',
       'Bolivia', 'Madagascar', 'Belarus', 'Honduras', 'Thailand',
       'Mauritius', 'Gambia', 'Guatemala', 'Central African Rep.',
       'Zambia', 'Curacao', 'Niger', 'Mauritania', 'Suriname', 'Benin',
       'Luxembourg', 'Kenya', 'Montserrat', 'Namibia', 'Azerbaijan',
       'Guam', 'Libya', 'Faroe Islands', 'Nicaragua', 'Sierra Leone',
       'Kazakhstan', 'Lithuania', 'Barbados', 'Lebanon', 'Liechtenstein',
       'Palestine', 'Guyana', 'Korea DPR', 'El Salvador', 'Cuba', 'Sudan',
       'Burundi', 'St Lucia', 'Ethiopia', 'Uganda', 'Puerto Rico',
       'Grenada', 'Antigua & Barbuda', 'Jordan', 'Rwanda', 'Bermuda',
       'Qatar', 'Afghanistan', 'Hong Kong', 'Andorra', 'Malta', 'Belize',
       'South Sudan', 'St Kitts Nevis', 'Philippines', 'Indonesia',
       'Botswana'], dtype=object)

In [18]:
 pivot = df.loc[df['Club'].isin(['FC Barcelona','Real Madrid','Juventus','Manchester United'])].pivot_table(values=['Wage'],
                index=['Nationality'],
                columns=['Club'],
                aggfunc='sum',
                fill_value=0)
pivot

                           Wage
Club               FC Barcelona Juventus Manchester United Real Madrid
Nationality
Argentina                565000   205000            206000           0
Belgium                  110000        0            230000      240000
Bosnia Herzegovina            0   180000                 0           0
Brazil                   465000   335000             91000      570000
Chile                    205000        0            215000           0
Costa Rica                    0        0                 0      195000
Croatia                  260000   160000                 0      420000
Dominican Republic            0        0                 0      140000
Ecuador                       0        0            120000           0
England                       0        0            478000           0
France                   495000   145000            375000      459000
Germany                  240000   160000                 0      355000
Italy                         0   460000             88000           0
Ivory Coast                   0        0            105000           0
Morocco                       0   160000                 0           0
Netherlands              135000        0                 0           0
Poland                        0   125000                 0           0
Portugal                 125000   405000                 0           0
Scotland                      0        0             11000           0
Serbia                        0        0            165000           0
Spain                    912000        0            260000     1404000
Uruguay                  455000        0                 0           0
Wales                         0        0             13000      355000

In [23]:
import pandas as pd
football = pd.read_csv('football.csv')
player = football[football.Nationality == 'Spain']['Wage'].value_counts(normalize = 'True',bins=4).sort_index().iloc[0]*100
player = round(player)
position= football.groupby(['Position'])['Wage'].sum()
position = position[position>2000000].index[0]
Chelsea= football[football.Club == 'Chelsea'].groupby(['Club'])['Wage'].sum()
Chelsea = Chelsea.iloc[0]
print(player, position, Chelsea)

97 CAM 2035000

In [25]:
missing_null = football['Club'].isnull().sum()
missing_null

0

In [30]:
info = football['Wage'].describe() 
info

count     12897.000000
mean       7517.562224
std       23061.985387
min        1000.000000
25%        1000.000000
50%        2000.000000
75%        4000.000000
max      565000.000000
Name: Wage, dtype: float64

In [37]:
import pandas as pd
df = pd.read_csv('football.csv')
cash = df[df['Value'] == df['Value'].max()]
pos = cash['Position'].iloc[0]
pos

'LW'